beautifulsoup4>=4.12.3
networkx>=3.0
openai==1.14.2
llama_index==0.10.18
llama-index-core==0.10.18
llama_index_readers_file
llama_index_vector_stores_chroma
llama_index_readers_llama_parse
llama_index_readers_web
llama_index_embeddings_huggingface
llama_index_embeddings_openai
llama_index_agent_openai
python-multipart
watchdog
docx2txt
html2text
FastAPI